<h2>Abstract</h2>
<p>
The COMODI ontology is needed because COmputational MOdels DIffer.
COMODI provides a set of classes and properties that empowers users and software to represent and describe changes in computational models on the semantic level.
COMODI also enables software to implement user-specific filter options for the display of model changes.
COMODI is the next step towards predicting how a change in a model influences the simulation study.
</p>
<p>
<strong>The OWL encoding</strong> of the COMODI Ontology is <a href="comodi.owl">available from our web server.</a></br>
<strong>The namespace</strong> for all COMODI terms is <code>http://purl.org/net/comodi#</code>.</br>
<strong>Cite COMODI </strong> as .... </br>
</p>
<h4>Please Send Comments</h4>
We would like to encourage everyone to contribute to the COMODI ontology.
If you have to have suggestions for new terms, 
We constantly seek expertise and input from developers, modellers, and other scientists.
Please submit feedback either <a href="http://www.sbi.uni-rostock.de/team/single/martin-scharm/">via E-Mail</a> or <a href="https://github.com/SemsProject/COMODI/issues/new">at the corresponding github project.</a>
