<div id="acknowledgements">
<h2>6. Acknowledgements <span class="backlink"> back to <a href="#toc">ToC</a></span></h2>
<p>The authors would like to thank 
the <a href="http://co.mbine.org/">COMBINE community</a> and the participants of the <a href="http://icsb15.apbionet.org/">2015 ICSB</a> for valuable discussions and their expertise that significantly improved the outcome of this work.
</p>

<p>
Further to this, the authors would like to thank <a href="http://palindrom.es/phd/whoami/">Silvio Peroni</a> for developing <a href="http://www.essepuntato.it/lode">LODE</a>, a Live OWL Documentation Environment, which is used for representing the Cross Referencing Section of this document and <a href="http://delicias.dia.fi.upm.es/members/dgarijo/">Daniel Garijo</a> for developing the Java tool <a href="https://github.com/dgarijo/Widoco">widoco</a>, which was used to generate this website, and the <a href="http://protege.stanford.edu/about.php">Protege team</a> for providing <a href="http://protege.stanford.edu/">Protege</a>, the software tool we used to build the ontology.
</p>

<p> This work was funded by the German Federal Ministry of Education and
Research (<a href="https://www.bmbf.de/">BMBF</a>) as part of the e:Bio program <a href="https://sems.uni-rostock.de/">SEMS</a>, FKZ 031 6194.
</p> 

</div>
