<div id="acknowledgements">
<h2>6. Acknowledgements <span class="backlink"> back to <a href="#toc">ToC</a></span></h2>
<p>The authors would like to thank <a href="http://palindrom.es/phd/whoami/">Silvio Peroni</a> for developing <a href="http://www.essepuntato.it/lode">LODE</a>, a Live OWL Documentation Environment, which is used for representing the Cross Referencing Section of this document and <a href="http://delicias.dia.fi.upm.es/members/dgarijo/">Daniel Garijo</a> for developing the Java tool <a href="https://github.com/dgarijo/Widoco">widoco</a>, which was used to generate this website.</p>
</div>
