<h2>3. COMODI Description <span class="backlink"> back to <a href="#toc">ToC</a></span></h2>

<p>
COMODI consists of six types of classes and five  object properties which link these classes. 
The central class is <code>comodi:Change</code>. It  represents a change (reflected in a delta) between two versions of a computational model. 
The <code>comodi:Change</code> class is connected to five other classes, using the five object properties:

<ul>
<li><code>comodi:appliesTo comodi:XmlEntity</code> &mdash; 
links a change to a <code>comodi:XmlEntity</code>, e.g.,  an <em>XML attribute</em> (see <a href="#XmlAttribute"><code>comodi:XmlAttribute</code></a>).</li>

<li><code>comodi:hasIntention comodi:Intention</code> &mdash; explains the intention of a change, e.g.,  an <em>extension</em> of the model (see <a href="#Expansion"><code>comodi:Expansion</code></a>).</li>

<li><code>comodi:hasReason comodi:Reason</code> &mdash; provides a reason for a change, e.g., a <em>mismatch with the corresponding publication</em> (see <a href="#MismatchWithPublication"><code>comodi:MismatchWithPublication</code></a>).</li>

<li><code>comodi:hasChangeType comodi:Type</code> &mdash; provides information about the type of change, e.g. an <em>update</em> (see <a href="#Update"><code>comodi:Update</code></a>).</li>

<li><code>comodi:affects comodi:Target</code> &mdash; indicates  which part of the model has changed, e.g., a <em>species definition</em> (see <a href="#SpeciesSetup"><code>comodi:SpeciesSetup</code></a>).</li>
</ul>

In addition, each <code>comodi:Change</code> can be triggered by another <code>comodi:Change</code>. 
For example, the deletion of a node triggers the deletion of all its attribute. 
To represent this knowledge, the <code>comodi:Change</code> classes can be connected using the <code>comodi:wasTriggeredBy</code> property.

The following figure visualises all classes in COMODI and their properties:
</p>
<object id="overview-fig" data="whole.svg" type="image/svg+xml" style="max-width: 100%;" />


