<h2>3. COMODI Description <span class="backlink"> back to <a href="#toc">ToC</a></span></h2>

<h3>3.1. The Concept of COMODI</h3>
<p>
COMODI consists of six types of classes and five  object properties which link these classes. 
The central class is <code>comodi:Change</code>. It  represents a change (reflected in a delta) between two versions of a computational model. 
The <code>comodi:Change</code> class is connected to five other classes, using the five object properties:

<ul>
<li><code>comodi:appliesTo comodi:XmlEntity</code> &mdash; 
links a change to a <code>comodi:XmlEntity</code>, e.g.,  an <em>XML attribute</em> (see <a href="#XmlAttribute"><code>comodi:XmlAttribute</code></a>).</li>

<li><code>comodi:hasIntention comodi:Intention</code> &mdash; explains the intention of a change, e.g.,  an <em>extension</em> of the model (see <a href="#Expansion"><code>comodi:Expansion</code></a>).</li>

<li><code>comodi:hasReason comodi:Reason</code> &mdash; provides a reason for a change, e.g., a <em>mismatch with the corresponding publication</em> (see <a href="#MismatchWithPublication"><code>comodi:MismatchWithPublication</code></a>).</li>

<li><code>comodi:hasChangeType comodi:Type</code> &mdash; provides information about the type of change, e.g. an <em>update</em> (see <a href="#Update"><code>comodi:Update</code></a>).</li>

<li><code>comodi:affects comodi:Target</code> &mdash; indicates  which part of the model has changed, e.g., a <em>species definition</em> (see <a href="#SpeciesSetup"><code>comodi:SpeciesSetup</code></a>).</li>
</ul>

Moreover, each <code>comodi:Change</code> can be triggered by another <code>comodi:Change</code>. 
For example, the deletion of a node triggers the deletion of all its attribute. 
To represent this knowledge, the <code>comodi:Change</code> classes can be connected using the <code>comodi:wasTriggeredBy</code> property.
</p>

<p>
In addition, the Teddy ontologoy [<cite><a class="bibref" rel="biblioentry" href="#bib-TEDDY">TEDDY</a></cite>] is linked into COMODI at the <code>comodi:ModelBehaviour</code> node.
Thus, it is also possible to annotate changes that, for example, affect the stability using <a href="http://identifiers.org/teddy/TEDDY_0000148">teddy:0000148</a> (stability characteristic).
</p>

<p>
The following figure visualises all classes in COMODI and their properties:
</p>
<object id="overview-fig" data="whole.svg" type="image/svg+xml" style="max-width: 100%;" />





<h3>3.2. Examples</h3>
<p>
Unless otherwise noted, the following examples are based on differences that we detected in SBML- or CellML-encoded models.
These differences are detected using BiVeS [<cite><a class="bibref" rel="biblioentry" href="#bib-BIVES">BIVES</a></cite>].
To increase the readability, annotations of the examples will be provided in Turtle format [<cite><a class="bibref" rel="biblioentry" href="#bib-TURTLE">TURTLE</a></cite>].

You will find further example on the Poster that we presented at the <a href="http://co.mbine.org/events/COMBINE_2015">COMBINE 2015</a> and the <a href="http://icsb15.apbionet.org/">ICSB 2015</a> [<cite><a class="bibref" rel="biblioentry" href="#bib-POSTER">COMODI-POSTER</a></cite>].
</p>

The examples require a basic understanding of the encoding formats, please refer to the <a href="http://sbml.org">SBML</a> and <a href="http://cellml.org">CellML</a> homepage. 


<h4>3.2.1. Insertion of a Species (SBML)</h4>

<p>
Let's assume a new species is introduced into an SBML model. As a consequence, the later version of the document will contain an additional node in the <code>listOfSpecies</code> substree, e.g.:

<pre>
&lt;species name="Glucose" initialConc="0.6" /&gt;
</pre>

BiVeS detects this difference and generates a delta that looks like:

<pre>
&lt;insert&gt;
	&lt;node id="13" newTag="species" [...] / &gt;
	&lt;attribute id="14" triggeredBy="1" name="initialConc" newValue="0.6" [...] /&gt;
	[...]
&lt;/insert&gt;
</pre>

Even though you would probably think of the insertion of a species as just a single operation, BiVeS recognizes several changes: an insertion of a species <strong>plus</strong> the insertions of the species' properties and attributes. 
Thus, the delta contains multiple changes and every change should be annotated. 
Using the COMODI onology, we can speficy the nature of all changes in detail:

<pre>
#13 a comodi:Change.
#14 a comodi:Change.
</pre>

Both changes correspond to an <em>insertion</em> and we assume that this insertion expands the model: 

<pre>
#13 a comodi:Change;
    comodi:hasChangeType comodi:Insertion;
    comodi:hasIntention comodi:Expansion.
#14 a comodi:Change;
    comodi:hasChangeType comodi:Insertion;
    comodi:hasIntention comodi:Expansion.
</pre>

In addition, change <code>#13</code> was applied to an XML node and this change affects the reaction network. In contrast, change <code>#14</code> was applied to an XML attribute and it affects the model setup, specifically the setup of this species. As we have this knowledge, we should encode it semantically:

<pre>
#13 a comodi:Change;
    comodi:hasChangeType comodi:Insertion;
    comodi:affects comodi:ReactionNetworkDefinition;
    comodi:appliesTo comodi:XmlNode;
    comodi:hasIntention comodi:Expansion.
#14 a comodi:Change;
    comodi:hasChangeType comodi:Insertion;
    comodi:hasIntention comodi:Expansion;
    comodi:affects comodi:SpeciesSetup;
    comodi:appliesTo comodi:XmlAttribute.
</pre>

Finally, change <code>#14</code> (the setup of the species' initial concentration) was triggered by change <code>#13</code> (the insertion of the species). After including this information, the final annotation looks like:

<pre>
#13 a comodi:Change;
    comodi:hasChangeType comodi:Insertion;
    comodi:affects comodi:ReactionNetworkDefinition;
    comodi:appliesTo comodi:XmlNode;
    comodi:hasIntention comodi:Expansion.
#14 a comodi:Change;
    comodi:hasChangeType comodi:Insertion;
    comodi:hasIntention comodi:Expansion;
    comodi:affects comodi:SpeciesSetup;
    comodi:appliesTo comodi:XmlAttribute;
    comodi:wasTriggeredBy #13.
</pre>
</p>








<h4>3.2.2. Update of a Typo</h4>
<p>
Let's assume you introduced a typo in a name of a special in an SBML model.
The species definition in the SBML document might look like:

<pre>
&lt;species name="Gulcose" initialConc="0.6" /&gt;
</pre>

You recognised the mistake (typo in the name of the species) and correct the species to produce the following species definition in the XML tree:

<pre>
&lt;species name="Glucose" initialConc="0.6" /&gt;
</pre>


Using BiVeS, you may obtain the following delta:

<pre>
&lt;update&gt;
	&lt;attribute id="23" newValue="Glucose" name="name" oldValue="Gulcose" /&gt;
	[...]
&lt;/update&gt;
</pre>

That means, BiVeS correctly recognized the update of the name attribute.<br/>
This change should now be annotated.
We know that it was a <em>correction</em>, because there was a <em>typo</em>.
This change is an <em>update</em> and was applied to an <em>entity name</em>.
Thus, the annotation may look like:

<pre>
#23 a comodi:Change;
    comodi:hasChangeType comodi:Update;
    comodi:hasIntention comodi:Correction.
    comodi:appliesTo comodi:EntityName;
    comodi:hasReason comodi:Typo.
</pre>

</p>








<h4>3.2.3. Inline-Annotation of an SED-ML file</h4>
<p>
The COMODI ontology can be used to annotate SED-ML files.
SED-ML is a language to encode simulation descriptions in a standardised format [<cite><a class="bibref" rel="biblioentry" href="#bib-SEDML">SED-ML</a></cite>].
Using SED-ML it is for example possible to change the model's setup and, thus, to update the environment.
For instance, a change of a parameter can be encoded as:

<pre>
[...]
&lt;model id="model1" name="some name" language="SBML" source="model1"&gt;
	&lt;listOfChanges&gt;
		&lt;changeAttribute id="change1" target="/sbml:sbml/sbml:model/sbml:listOfParameters/sbml:parameter[@id='V_m']/@value" newValue="10.27"/&gt;
	&lt;/listOfChanges&gt;
&lt;/model&gt;
[...]
</pre>

This snippet changes the value of the parameter <code>V_m</code> to <code>10.27</code>.
The creator of this file might wanted to test a hypothesis, so (s)he had the intention of a trial.
This change obviously affects the parameter setup.

Using COMODI, this SED-ML file may be annotated to document what the simulation description is going to do.
This time, we will add an <code>&lt;annotation&gt;</code> node directly into the SED-ML document. This node holds the information encoded using COMODI:

<pre>
[...]
&lt;model id="model1" name="some name" language="SBML" source="model1"&gt;
  &lt;listOfChanges&gt;
    &lt;changeAttribute id="change1" target="/sbml:sbml/sbml:model/sbml:listOfParameters/sbml:parameter[@id='V_m']/@value" newValue="10.27"&gt;
      &lt;annotation&gt;
        &lt;rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                 xmlns:comodi="http://purl.uni-rostock.de/comodi/comodi#"&gt;
                 
          &lt;rdf:Description rdf:about ="#change1"&gt;
            &lt;rdf:type rdf:resource="http://purl.uni-rostock.de/comodi/comodi#Change"/&gt;
            &lt;comodi:hasIntendion rdf:resource="http://purl.uni-rostock.de/comodi/comodi#Trial"/&gt;
            &lt;comodi:affects rdf:resource="http://purl.uni-rostock.de/comodi/comodi#ParameterSetup"/&gt;
          &lt;/rdf:Description&gt;
          
        &lt;/rdf:RDF&gt;
      &lt;/annotation&gt;
    &lt;changeAttribute&gt;
  &lt;/listOfChanges&gt;
&lt;/model&gt;
[...]
</pre>




</p>

