<h2 class="list" id="intro">Introduction <span class="backlink"> back to <a href="#toc">ToC</a></span></h2>

Open model repositories such as <a href="http://www.ebi.ac.uk/biomodels-main/">BioModels</a>, <a href="http://jjj.biochem.sun.ac.za/models/">JWS Online</a>, <a href="http://www.opensourcebrain.org/">OpenSourceBrain</a>, or the <a href="http://www.cellml.org/models">Physiome Model Repository</a> provide ready-to-reuse computational models of biological systems in standard exchange formats (<a href="http://sbml.org/">SBML</a>, <a href="https://www.cellml.org/">CellML</a>, <a href="https://www.neuroml.org/">NeuroML</a>, <a href="http://www.pharmml.org/">PharmML</a>).
The models within the repositories evolve over time, leading to many alternative and subsequent versions. 
Taken together, the underlying changes reflect a model's provenance and thus can give valuable insights into the studied biology (see <a href="http://bioinformatics.oxfordjournals.org/content/32/4/563">Scharm et al 2015</a>).

COMODI was developed to overcome this limitation. The ontology serves as a basis for  scientists and software developers to  characterise model updates at the level of single changes. 
These annotations can help to determine the relevance of a change in a given context. 
They furthermore enable scientists to "replay"  a model's history and understand <i>which</i> changes occurred and <i>why</i>.

<div id="notations">
<h4>1.1. Notational Conventions</h4>  

<p>The key words "<em class="rfc2119" title="must">must</em>", "<em class="rfc2119" title="must not">must not</em>", "<em class="rfc2119" title="required">required</em>", "<em class="rfc2119" title="shall">shall</em>", "<em class="rfc2119" title="shall not">shall not</em>", "<em class="rfc2119" title="should">should</em>", "<em class="rfc2119" title="should not">should not</em>", "<em class="rfc2119" title="recommended">recommended</em>",  "<em class="rfc2119" title="may">may</em>", and       "<em class="rfc2119" title="optional">optional</em>" in this document are to be interpreted as described in [<cite><a class="bibref" rel="biblioentry" href="#bib-RFC2119">RFC2119</a></cite>].</p>
</div>

<div id="namespacedeclarations">
<h4>1.2. Namespace declarations</h4>
<div id="ns" align="center">
<table>
<caption> <a href="#ns"> Table 1</a>: Namespaces used in the document </caption>
<tbody>
<tr><td><b>owl</b></td><td>&lt;http://www.w3.org/2002/07/owl#&gt;</td></tr>
<tr><td><b>rdf</b></td><td>&lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt;</td></tr>
<tr><td><b>xsd</b></td><td>&lt;http://www.w3.org/2001/XMLSchema#&gt;</td></tr>
<tr><td><b>rdfs</b></td><td>&lt;http://www.w3.org/2000/01/rdf-schema#&gt;</td></tr>
<tr><td><b>teddy</b></td><td>&lt;http://identifiers.org/teddy/TEDDY_&gt;</td></tr>
<tr><td><b>comodi</b></td><td>&lt;http://purl.uni-rostock.de/comodi/comodi#&gt;</td></tr>
</tbody>
</table>
</div>
<p>
All other namespace prefixes are used in examples only. In particular, IRIs starting with <code>http://example.com</code> represent some application-dependent IRI [<cite><a class="bibref" rel="biblioentry" href="#bib-IRI">IRI</a></cite>].
</p>

</div>
